body
  font-family: roboto mono
  padding-top: 61px

footer
  padding-left: 15px
  padding-right 15px
  p
    border-top: 1px solid #dcdcdc

.navbar-form
  .form-group
    margin-left: 10px
  button
    margin-left: 10px

.toast-top-right
  top: 60px
