<nav class="navbar navbar-inverse">
    <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ext-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ctrl.brand}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="ext-navbar-collapse-1">
                                                                             
            <script type="text/ng-template" id="horizonlMenuTree">              
                <a ng-if="!item.hasChildren" ng-link="{{item.link}}"><i ng-if="item.icon" class="{{item.icon}}" aria-hidden="true"></i> {{item.title}}</a>
                <a ng-if="item.hasChildren" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i ng-if="item.icon" class="{{item.icon}}" aria-hidden="true"></i> {{item.title}}<span ng-if="item.parentId===0" class="caret"></span></a>                                                                                               
                <ul ng-if="item.hasChildren" class="dropdown-menu"> 
                    <li ng-repeat="item in ctrl.menuItems | filter:{parentId:item.id} | orderBy:['position']" 
                        ng-class="{'dropdown-submenu':item.hasChildren===1}"
                        ng-include="'horizonlMenuTree'">                            
                    </li>
                </ul>                                                                            
            </script>
            
            <ul class="nav navbar-nav">    
                <li ng-repeat="item in ctrl.menuItems | filter:{alignment:'left'}  | orderBy:['parentId','position']  | filter:{parentId:0}"
                    ng-class="{'dropdown' : item.hasChildren===1}" 
                    ng-include="'horizonlMenuTree'">
                </li>                                                                
            </ul>
                                                    
            <ul class="nav navbar-nav navbar-right">                                
                <li ng-repeat="item in ctrl.menuItems | filter:{alignment:'right'}  | orderBy:['parentId','position']  | filter:{parentId:0}"
                    ng-class="{'dropdown' : item.hasChildren===1}" 
                    ng-include="'horizonlMenuTree'">
                </li>
            </ul>
            
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
