@import "./public/vendor/bootstrap/less/bootstrap.less";

@import "./public/ext-app/horizontal-menu/extHorizontalMenu.less";
@import "./public/ext-app/vertical-menu/extVerticalMenu.less";
@import "./public/ext-app/footer/extFooter.less";
@import "./public/ext-app/jumbotron/extJumbotron.less";
@import "./public/ext-app/header/extHeader.less";
@import "./public/ext-app/panel/extPanel.less";

@font-family-sans-serif:'roboto mono';
@body-bg:     #efefef;
@panel-bg: darken(@body-bg, 4%); 
@well-bg: darken(@body-bg, 4%); 

.container-fluid & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
    padding-left:  (@grid-gutter-width * 0);
    padding-right: (@grid-gutter-width * 0);
  }
  