<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <button ng-click="ctrl.newBlogPost()" class="btn btn-primary">Add New Post</button>            
            <button ng-click="ctrl.returnToAdmin()" class="btn btn-default">Return to Admin</button>
        </div>
        <h4>Blog Administration</h4>            
    </div>
    <div class="panel-body">
        <div class="panel panel-info" ng-repeat="blog in ctrl.blogs">
            <div class="panel-heading">                
                {{blog.title}} @ {{blog.datePosted | date}} In "{{blog.category}}" Category
            </div>
            <div class="panel-body">
                <div>{{blog.summary}}</div>
            </div>
            <div class="panel-footer text-right">
                <a href="#" ng-link="['EditBlog',{id:blog._id}]" class="btn btn-info">Update</a>
            </div>
        </div>                
    </div>
</div>