<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <button ng-click="ctrl.newBlogPost()" class="btn btn-primary">Add New Post</button>            
            <button ng-click="ctrl.returnToAdmin()" class="btn btn-default">Return to Admin</button>
        </div>
        <h4>Blog Administration</h4>            
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                This is a Blog Post Heading
            </div>
            <div class="panel-body">
                <div>This is a blog post body</div>
            </div>
        </div>                
        <div class="panel panel-info">
            <div class="panel-heading">
                This is a Blog Post Heading
            </div>
            <div class="panel-body">
                <div>This is a blog post body</div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                This is a Blog Post Heading
            </div>
            <div class="panel-body">
                <div>This is a blog post body</div>
            </div>
        </div>
    </div>
</div>