.container
  .jumbotron
    h1 Qumlative
    p Welcome to my super site

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-stuff'")
    .col-md-6
      div(ng-include="'/partials/main/new-stuff'")
